<h2 id="title">Add To Calendar Button</h2>

{{#calendar-button event id="test-id" as |b|}}
  {{#b.google id="test-google"}}
    Add to Goolge
  {{/b.google}}
  {{#b.ical id="test-ical"}}
    Add to Anything
  {{/b.ical}}
{{/calendar-button}}
